@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MinSans-Thin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MinSans-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OoohBaby-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/fonts/oooh-baby-v3-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/resources/fonts/oooh-baby-v3-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/resources/fonts/oooh-baby-v3-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/resources/fonts/oooh-baby-v3-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/resources/fonts/oooh-baby-v3-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/resources/fonts/oooh-baby-v3-latin-regular.svg#OoohBaby") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "D2Coding";
  src: url("/resources/fonts/D2Coding.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+000-5FF, U+AE30, U+B798, U+B85C, U+B864, U+C2A4, U+C544, U+C5EC, U+C778, U+D06C, U+D558, U+D655;
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xNIPFB7xG-GNxkg.woff2) format("woff2");
  unicode-range: U+000-5FF;
}

body {
  padding: 0;
  margin: 0;
  font-family: D2Coding, -apple-system, sans-serif;
  background: black;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

img {
  transition: 0.3s;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
}
a:active {
  color: green;
}

::-webkit-scrollbar {
  display: none;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
